<div class="container">
   <div class="container text-center takasa">
     <div class="wd-text">

       <div class="withdraw"><h3>本当に退会しますか？</h3></div><br>

     	<p>退会すると、会員登録情報や<br>
     		これまでの購入履歴が閲覧できなくなります。<br>
     	退会する場合は、「退会する」をクリックしてください。</p><br>

       <div class="row mx-auto" style="width: 300px">
         <%= link_to "退会しない",customer_path(current_customer),class: "btn btn-primary" %>
       </div>
         <%= link_to "退会する", customers_quit_path(current_customer), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
       </div>
     </div>
   </div>
 </div>