<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12 px-sm-0, content'>
    <h4 class="title">　会員一覧　</h4>
    <table cellpadding="10">
      
      <thead>
        <tr style="background-color: #EEEEEE;">
          <th colspan="1">会員ID</th>
          <th colspan="2">氏名</th>
          <th colspan="5">メールアドレス</th>
          <th colspan="2">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td colspan="1"><%= customer.id %></td>
          <td colspan="2">
            <%= link_to (customer.last_name + customer.first_name), admin_customer_path(customer), class: "customer_#{customer.id}" %>
          </td>
          <td colspan="5"><%= customer.email %></td>
          <td colspan="2">
            <% if customer.is_active %>
              <div style="color: green;">有効</div>
            <% else %>
              <div style="color: #CCCCCC">退会</div>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  
    </div>
  </div>
</div>


