<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12 px-sm-0, content'>
    <h4 class="title">　会員一覧　</h4>
    <table class="table">

      <thead>
        <tr style="background-color: #EEEEEE;">
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <th scope="row"><%= customer.id %></th>
          <td>
            <%= link_to (customer.last_name_kanji + customer.first_name_kanji), admin_customer_path(customer), class: "customer_#{customer.id}" %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_user_status %>
              <div style="color: #CCCCCC">退会</div>
            <% else %>
              <div style="color: green;">有効</div>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    </div>
  </div>
</div>


